<launch>
    <arg name="car_name" default="car3" />
    <arg name="threshold" default="110" />

    <node pkg="my_single_vision" type="binary.py" name="binarizer_$(arg car_name)" output="screen">
        
        <param name="image_topic"  value="/$(arg car_name)/image_raw" />
        <param name="binary_topic" value="/$(arg car_name)/binary_image" />

        <param name="threshold"    value="$(arg threshold)" />
    </node>
</launch>